$accentColor: #ffffff;
$secondaryAccentColor: #ff5c00;
$btnColor: #f2f2f3;
$textColor: #000000;
$shadowColor: #b1b1b1;

%container {
  max-width: 1290px;
  margin: 0 auto;
  @media (max-width: 992px) {
    font-size: 60px;
  }
  @media (max-width: 768px) {
    font-size: 40px;
  }
}
@mixin btnStyle($color: $textColor, $bgColor: $btnColor) {
  color: $color;
  background-color: $bgColor;
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  padding: 12px 101px;
  border: none;
  cursor: pointer;
}
